.container {
  max-width: 450px;
  height: auto;
  h3 {
    color: #393941;
  }
}

.have-account {
  color: #464752;
  text-decoration: underline;
}

.have-account:hover {
  color: #f3123c;
}

button {
  width: 450px;
}

.disabled {
  background: #d3687c;
}

.disabled:hover {
  background: #d3687c;
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 250px;
  }
}
