<footer class="footer">
  <h2 class="title">Você está buscando em <strong>São Paulo - SP</strong></h2>
  <div class="flex">
    <ul>
      <li>
        <h2>Comprar</h2>
      </li>
      <li>
        <p>Carros usados ou seminovos</p>
      </li>
      <li>
        <p>Carros novos</p>
      </li>
      <li>
        <p>Motos usadas ou seminovas</p>
      </li>
    </ul>

    <ul>
      <li>
        <h2>Vender</h2>
      </li>
      <li>
        <p>Vender meu veículo</p>
      </li>
      <li>
        <p>Vender minha moto</p>
      </li>
      <li>
        <p>Gerenciar meu anúncio</p>
      </li>
    </ul>

    <ul>
      <li>
        <h2>Serviços</h2>
      </li>
      <li>
        <p>Tabela FIPE Webmotors</p>
      </li>
      <li>
        <p>0KM</p>
      </li>
      <li>
        <p>Notícias WM1</p>
      </li>
    </ul>

    <ul class="help">
      <li>
        <h2>Ajuda</h2>
      </li>
      <li>
        <p>Compradores e Anunciantes</p>
      </li>
      <li>
        <p>Como vender</p>
      </li>
      <li>
        <p>Como comprar</p>
      </li>
    </ul>

    <ul class="parceiro">
      <li>
        <h2>Parceiros</h2>
      </li>
      <li>
        <p>Carsales</p>
      </li>
      <li>
        <p>Loop</p>
      </li>
    </ul>

  </div>

  <div class="footer-sponsorship flex flex-end">
    <p>Uma empresa</p>
    <img src="../../../../assets/images/santander.png" alt="">
  </div>

  <div class="footer-copyright">
    <p>© 1995-2020 Webmotors S.A. Todos os direitos reservados.</p>
  </div>

</footer>
