.container {
  width: 800px;
}

.grid {
  display: grid;
}

.grid-template-columns {
  grid-template-columns: 1fr 1fr;
}

.gap {
  gap: 20px;
}

h2 {
  color: #393941;
  margin-bottom: 10px;
}

select {
  margin-top: 20px;
  background-size: 24px 24px;
  background-color: #fff;
  background-position: left 9px center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #ecedf2;
  border-radius: 8px;
  height: 47px;
  padding-left: 40px;
  padding-right: 0;
  -webkit-transition: 0s;
  transition: 0s;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 350px;
  }
}
